.navbar {
  height: 7vmin;
  width: 100vw;
  background-color: rgb(55,181,255);
  text-align: center;
  top: 0;
}

.node {
    border: 0.1vw solid lightblue;
    width: 2.2vmin;
    height: 2.2vmin;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(45, 1fr);
    width: calc(45*2.2vmin);
    margin-left: auto;
    margin-right: auto;

}

.actionbutton {
  font-size: 1.5vmin;
  width: 12vmin;
  height: 6vmin;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  padding-left: 2vmin;
  padding-right: 2vmin;
  margin: 2vmin 2vmin;
  border-radius: 1vmin;
  font-family: Alegreya sans;
  color: white;
}

body {
  background-color: black;
}

@keyframes color{
  from {background-color: white;}
  to {background-color: darkorchid;}
}

.slow-color {
  animation-name: color;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.res-p {
  font-size: 1vw;
  color: white;
  margin: 0;
}

.back-btn {
  top: 1.5vmin;
  left: 1.5vmin;
  font-size: 2vmin;
}

@media screen and (max-width: 480px) {
  

.rotate-on-small {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-top: 20vmin;
  margin-bottom: 20vmin;
}

}

@font-face {
  font-family: League Spartan;
  src: url("../fonts/LeagueSpartan-Bold.otf");
}

@font-face {
  font-family: Alegreya Sans;
  src: url("../fonts/AlegreyaSans-Regular.ttf");
}
