.node {
  border: 0.1vw solid lightblue;
  
  }

.grid-container {
    
    display: grid;
    grid-template-columns: repeat(45, 1fr);
    grid-template-rows: repeat(30, 1.3vw);
    margin-top: 2%;
    
    border: 0.2vw solid pink;
    
    padding: 0.2vw;
}


.btn {
  
  text-align: center;
  font-size: 1vw;
  padding: 0;
  margin: 0;
  height: 100%;
}

.button-grid {
  display: grid;
  margin-top: 6%;
  grid-gap: 4vh;
  grid-template-columns: repeat(1, 1fr);
  margin-left: 2vw;
  margin-right: 2vw;
}

body {
  background-color: black;
}

@keyframes color{
  from {background-color: white;}
  to {background-color: darkorchid;}
}

.slow-color {
  animation-name: color;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}